<div class="burger-menu">
  <div class="container">
    <nav class="burger-menu-header-nav">
      <ul class="burger-menu-nav-list">
        <li class="nav-list-item">
          <a href="#furniture-list" class="nav-link">Наші меблі</a>
        </li>
        <li class="nav-list-item">
          <a href="#popular-furniture" class="nav-link nav-link--popular"
            >Популярні товари</a
          >
        </li>
        <li class="nav-list-item">
          <a href="#about-us" class="nav-link">Про нас</a>
        </li>
        <li class="nav-list-item">
          <a href="#faq-section" class="nav-link">Часті питання</a>
        </li>
        <li class="nav-list-item">
          <a href="#feedbacks-section-id" class="nav-link">Відгуки</a>
        </li>
      </ul>
      <button
        onclick="location.href='#furniture-list'"
        type="button"
        class="burger-menu-header-button"
      >
        До покупок
      </button>
    </nav>
  </div>
</div>
