<section class="furniture-list section" id="furniture-list">
  <div class="container">
    <div class="section-header">
      <h2 class="furniture-list-title">Наші меблі</h2>
      <h3 class="furniture-list-description">
        Знайдіть ідеальні рішення для вашого інтер'єру
      </h3>
    </div>
    <ul class="furniture-list-categories">
      <li class="category-item">Всі товари</li>
      <li class="category-item">Всі товари</li>
      <li class="category-item">Всі товари</li>
      <li class="category-item">Всі товари</li>
    </ul>

    <ul class="furniture-list-products">
      <li class="product-item">
        <img
          class="products-image"
          src="/img/furniture/bathroom@2x.png"
          alt="img"
        />
        <div class="product-description-box">
          <h4 class="products-title">Софа Oslo</h4>
          <ul class="products-color-list">
            <li class="products-color-box" style="background-color: blue"></li>
            <li class="products-color-box" style="background-color: brown"></li>
            <li
              class="products-color-box"
              style="background-color: blueviolet"
            ></li>
          </ul>
          <p class="products-price">9 999 грн</p>
        </div>
        <button class="products-details-btn" type="button">Детальніше</button>
      </li>
    </ul>
    <button type="button">Показати ще</button>
  </div>
</section>
