<section class="popular-furniture section" id="popular-furniture">
  <div class="container">
    <div class="popular-furniture-header">
      <h2 class="furniture-list-title">Популярні меблі</h2>
      <p class="furniture-list-description">
        Найбільш запитувані товари від наших клієнтів
      </p>
    </div>
    <div class="popular-furniture-content">
      <ul
        class="furniture-list-products popular-products"
        id="popular-products"
      ></ul>
      <div class="popular-furniture-pagination">
        <ul class="popular-pagination-dots"></ul>
        <div class="popular-furniture-navigation">
          <button
            class="popular-nav-button popular-nav-prev"
            aria-label="Попередні товари"
            type="button"
          >
            <svg width="24" height="24">
              <use href="/img/feedbackIcon/sprite.svg#icon-arrow-left"></use>
            </svg>
          </button>
          <button
            class="popular-nav-button popular-nav-next"
            aria-label="Наступні товари"
            type="button"
          >
            <svg width="24" height="24">
              <use href="/img/feedbackIcon/sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
